<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Volunteer Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/projects">Projects</a></li>
      <li class="active"><a href="/volunteers">Volunteers</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1><%= @project.title %></h1>
  <div class="info-card">
    <h2>Update Project</h2>
    <form method="post" action="/projects/<%= @project.id %>/edit" class="form">
      <input type="hidden" value="patch" name="_method"> 
      <div class="form-group">
        <label for="title">Title:</label>
        <input value="<%= @project.title %>" type="text" class="form-control" id="title" name="title">
      </div>
      <button type="submit" class="btn btn-secondary">Update Project</button>
    </form>  
    <form class="form" action="/projects/<%= @project.id %>/edit" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-danger">Delete Project</button>
    </form>
  </div>

</div>