<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Volunteer Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/volunteers">Volunteers</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>Volunteer Tracker</h1>
  
</div>