<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Volunteer Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/projects">Projects</a></li>
      <li><a href="/volunteers">Volunteers</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>Project Page</h1>
  <div class="info-card">
    <h2>Current Projects</h2>
    <% if @projects.any? %>  
    <ol>
      <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
        <% if project.volunteers.any? %>
          <ul>
            <% project.volunteers.each do |volunteer| %>
              <li>Volunteer: <%= volunteer.name %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </ol>
    <% else %>
      <p>No projects currently to display</p>
    <% end %>
  </div>
  <div class="button-holder">
    <form method="post" action="/projects" class="form-inline">
      <label for="project">
      <input class="form-control" id="project" name="project">
      <button class="btn btn-light">Add Project</button>
    </form>
  </div>
</div>