<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Volunteer Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li class="active"><a href="/volunteers">Volunteers</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>Volunteer Page</h1>
  <div class="info-card">
    <h2>Current Volunteers</h2>
    <% if @volunteers.any? %>  
    <ul>
      <% @volunteers.each do |volunteer| %>
      <li><%= volunteer.name %></li>
      <% end %>
    </ul>
    <% else %>
      <p>No volunteers currently to display</p>
    <% end %>
  </div>
  <div class="form-holder">
    <h3>Add a New Volunteer</h3>
    <form method="post" action="/volunteers" class="form">
      <div class="form-group">
        <label for="volunteer">Name:</label>
        <input type="text" class="form-control" id="volunteer" name="volunteer">
      </div>
      <div class="form-group">
        <label>Working on project:</label>
        <select class="form-control" id="project" name="project">
          <option selected value="nil">none yet</option>
          <% if @projects.any? %>
            <% @projects.each do |project| %>
            <option value="<%= project.id %>"><%= project.title %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <button type="submit" class="btn btn-light">Add Volunteer</button>
    </form>
  </div>
</div>